.sm {
  display: flex;
  justify-content: center;

  li {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &-link {
    color: set-text-color($dark-color);
    font-size: 1.2rem;
    text-align: center;
    line-height: 2rem;
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: transform 500ms ease-in-out;

    &:hover {
      transform: rotateX(360deg);
    }
  }
}
